<h2>hello it's main </h2>
<br>
<p>Cutie guest name : <br><%= @client.name %></p>
<p> <br><%= @client.id %></p>
<p> <br><%= @client.phone %></p>
<p> <br><%= @client.barber %></p>
<p> <br><%= @client.color %></p>
