<h2>hello it's main </h2>
<br>
<p>Cutie guest name : <br><%= @client.name %></p>
<!-- <p> <br>Name: <%= @client.name %></p> -->
<p> <br>Phone: <%= @client.phone %></p>
<p> <br>Barber: <%= @client.barber %></p>
<p> <br>Color: <%= @client.color %></p>
